.card {
  background-color: rgb(227, 225, 231);
  color: #272727;
  padding: 20px;
  border-radius: 10px;
  border: 0px;
  border-color: tomato;
  border-style: solid;
  transition: 200ms;
  max-width: 380px;
  margin-top: 5px;
}

.card:hover {
  transition: 200ms;
  border: 3px;
  border-color: tomato;
  border-style: solid;
}

.card-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
